body {
  background-color: black;
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
}

.about {
  text-align: center;
  color: white;
}

#Login {
  text-align: left;
}

.Registeration {
  height: 500px;
  width: 800px;
  font-size: 25px;
}

.account {
  font-size: 50px;
  border: 2px;
  border-color: black;
  border-style: solid;
  height: 1000px;
  width: 1500px;
}

table {
  color: white;
}