.title {
  text-align: center;
  font-size: 50px;
}

.about {
  text-align: center;
}

#Login {
  color: black;
  font-size: 25px;
  text-align: left;
  background-color: white;
  border-style: solid;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-color: black;
}

.Registeration {
  height: 500px;
  width: 800px;
  font-size: 25px;
}

.account {
  font-size: 50px;
  border: 2px;
  border-color: black;
  border-style: solid;
}