body {
  background-color: black;
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
}

.about {
  text-align: center;
  color: white;
}

#Login {
  text-align: left;
}

.Registeration {
  position: absolute;
  bottom: 500px;
  height: 1000px;
  width: 1500px;
  font-size: 25px;
}

.account {
  height: 2000px;
  width: 3000px;
  color: white;
}

table {
  color: white;
}