body {
  background-color: rgb(24, 25, 26);
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

.about {
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(78, 72, 72);
  text-align: center;
  color: white;
  opacity: 0.5;
}

#Login {
  color: white;
  opacity: 0.5;
  text-align: center;
  font-size: 25px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(78, 72, 72);
}

.Registeration {
  color: white;
  height: 100%;
  width: auto;
  zoom: 2;
  font-size: 30px;
}

.account {
  color: white;
  height: 100%;
  width: auto;
  zoom: 2;
  font-size: 30px;
}

.Contact-information {
  color:white
  opacity: 0.5;
}

#Weekly-news {
  color: white;
  opacity: 0.5;
}

#Monthly-news {
  opacity: 0.5;
  color: white;
}

.News-Navigation {
  color: white;
  opacity: 0.5;
  text-align: center;
  font-size: 25px;
}

#title-Weekly-News {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

.project-name {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

#Html-CSS {
    width: auto;
    height: auto;
}

#project {
  color: white;
  opacity: 0.5;
}

#Unity {
  height: auto;
  width: auto;
}

.Replit {
  height: auto;
  width: auto;
}

.Unity-p {
  font-size: 15px;
  border-top: 1px;
  border-top-color: rgb(78, 72, 72);
  border-top-style: solid;
}

.Replit-p {
  font-size: 15px;
  border-top: 1px;
  border-top-color: rgb(78, 72, 72);
  border-top-style: solid;
}