.title {
  text-align: center;
  font-size: 50px;
}

.about {
  text-align: center;
}

.Loginbutton {
  font-size: 11px;
  color:black;
  text-align: left;
  border-style: solid;
  border-bottom: 3px;
  border-top: 3px;
  border-left: 2px;
  border-right: 2px;
}

.Registeration {
  height: 500px;
  width: 800px;
  font-size: 25px;
}

.account {
  font-size: 50px;
  border: 2px;
  border-color: black;
  border-style: solid;
}