body {
  background-color: rgb(24, 25, 26);
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

.about {
  text-align: center;
  color: white;
  opacity: 0.5;
}

#Login {
  text-align: left;
}

.Registeration {
  position: absolute;
  bottom: 500px;
  height: 2000px;
  width: 3000px;
  font-size: 25px;
}

.account {
  height: 2000px;
  width: 3000px;
  color: white;
}

table {
  color: white;
}

#Contact-information {
  color:white
}