.title {
  text-align: center;
  font-size: 50px;
}

.about {
  text-align: center;
}

.Loginbutton {
  color: black;
  font-size: 25px;
  background-color: white;
  border-style: solid;
  border: 25px;
  text-align: left;
  position: relative;
  top: auto;
}

.Registeration {
  height: 500px;
  width: 800px;
  font-size: 25px;
}

.account {
  font-size: 50px;
  border: 2px;
  border-color: black;
  border-style: solid;
}