body {
  background-color: rgb(24, 25, 26);
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

.about {
  text-align: center;
  color: white;
  opacity: 0.5;
  border-bottom-style: solid;
  border-bottom: 3px;
  border-bottom-color: rgb(78, 72, 72);
}

#Login {
  color: white;
  opacity: 0.5;
  text-align: right;
  font-size: 25px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(78, 72, 72);
}

.Registeration {
  position: absolute;
  bottom: 500px;
  height: 2000px;
  width: 3000px;
  font-size: 25px;
}

.account {
  height: 2000px;
  width: 3000px;
  color: white;
}

#Contact-information {
  color:white
  opacity: 0.5;
}

#Weekly-news {
  color: white;
  opacity: 0.5;
}

#Monthly-news {
  opacity: 0.5;
  color: white;
}

#News-Navigation {
  text-align: center;
  font-size: 25px;
  color:white;
  opacity: 0.5;
}

#title-Weekly-News {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

#8bit-news {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

#Html-CSS {
  box-sizing: border-box;
  border: 5px solid rgb(78, 72, 72);
    width: 100%;
    height: auto;
}