.title {
  text-align: center;
  font-size: 50px;
}

.about {
  text-align: center;
}

.Loginbutton {
  position: absolute;
  left: 150px;
  zoom: 2;
  font-size: 25px;
}

.Registeration {
  zoom: 5;
}